/* Variables */
:root {
  --color-purple: hsl(300, 43%, 22%);
  --color-pink: hsl(333, 80%, 67%);
  --color-magenta-700: hsl(303, 10%, 53%);
  --color-magenta-400: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
}

/* Base Styles */
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}