/* Fonts */
/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/league-spartan-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/league-spartan-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/league-spartan-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Variables */
:root {
  --color-purple: hsl(300, 43%, 22%);
  --color-pink: hsl(333, 80%, 67%);
  --color-magenta-700: hsl(303, 10%, 53%);
  --color-magenta-400: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
}

/* Base Styles */
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Typography */
body {
  font-size: 0.9375rem;
  font-family: 'League Spartan';
}

h1 {
  line-height: 1.1;
  word-spacing: -2px;
  color: var(--color-purple);
  margin-bottom: 1.5rem;
}

p {
  line-height: 1.5;
}

/* Rating block component */
.rating-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding-block: 0.5rem;
  background-color: var(--color-magenta-400);
  color: var(--color-purple);
}